<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="mySqlServer" connectionString="Data Source=.\sqlexpress;
           Initial Catalog=aspnetdb;Integrated Security=false;user id=sa;password=sa;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="資料庫建立使用者驗證.aspx">
      </forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>

    <!--////////////////////////////-->
    
    <membership defaultProvider="mySqlMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="mySqlServer" applicationName="MyApplication"
             name="mySqlMembershipProvider"
             enablePasswordRetrieval="true" enablePasswordReset="true"
             requiresQuestionAndAnswer="false" requiresUniqueEmail="true"
             minRequiredPasswordLength="3"
             minRequiredNonalphanumericCharacters="0"
             passwordFormat="Clear"
             type="System.Web.Security.SqlMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" applicationName="MyApplication"
             type="System.Web.Security.SqlRoleProvider" connectionStringName="mySqlServer"/>
      </providers>
    </roleManager>
  </system.web>
  
<!--////////////////////////////-->
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
