<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CS_demo30.Properties.Settings.SchoolConnectionString"
            connectionString="Data Source=USER-PC;Initial Catalog=School;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CS_demo30.Properties.Settings.sakilaConnectionString"
            connectionString="server=127.0.0.1;user id=root;database=sakila"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>