<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1_WSVBSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1_WSVBSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44386/WebService1_WSVB.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1_WSVBSoap"
                contract="Service_VB.WebService1_WSVBSoap" name="WebService1_WSVBSoap" />
        </client>
    </system.serviceModel>
</configuration>