<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1_WSCSSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebService1_WSCSSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44375/WebService1_WSCS.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1_WSCSSoap"
                contract="Service_CS.WebService1_WSCSSoap" name="WebService1_WSCSSoap" />
        </client>
    </system.serviceModel>
</configuration>